#similar_panel
{
	height:180px;
	top:0;
}

#similar_inner_panel
{
	position:relative; /* needed to keep the spinner inside */
	height:120px;
	white-space:nowrap;
}

.film
{
	height:100%;
	width:130px;
	text-align:center;
	display:inline-block;
	padding-top:5px;
	vertical-align:top;
	
}

.thumbnail
{
	display:block;
	padding:2px;
}

.title
{
	display:block;
	text-align:center;
	font-weight:bold;
	padding-top:2px;
	white-space:normal;
}

.year
{
	display:block;
	
}

.score
{
	
}