#similar_panel
{
	height:250px;
	top:0;
}

#similar_inner_panel
{
	position:relative; /* needed to keep the spinner inside */
	height:240px;
}

.film
{
	height:240px;
	float:left;
	text-align:center;
	
}
